/*.m-fade {*/
/*    position: relative;*/
/*    height: 3.6em; !* exactly three lines *!*/
/*}*/
/*.m-fade:after {*/
/*    content: "";*/
/*    text-align: right;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    width: 70%;*/
/*    height: 1.2em;*/
/*    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);*/
/*}*/

/*.sidebar-box {*/
/*    line-height: 1.2em;*/
/*    max-height: 3.6em; !* exactly three lines *!*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

.sidebar-box{
    /*width: 300px;*/
    margin-bottom: 5px;
    padding-bottom: 5px;
    /*border-bottom: 3px solid #777;*/
    /*max-height:200px;*/
    line-height: 1.2em;
    max-height: 4.8em;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(top,#000 70%, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar-box-news{
    /*width: 300px;*/
    margin-bottom: 5px;
    padding-bottom: 5px;
    /*border-bottom: 3px solid #777;*/
    /*max-height:200px;*/
    line-height: 1.2em;
    max-height: 7.2em;

    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(top,#000 70%, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}